.inline {
	display: inline;
	height: 100px;
	width: 100px;
}

#one {
	background-color: #FFFF99;
}

#two {
	background-color: #DBB8FF;
}

#three {
	background-color: #ffb3b8;
}

.block {
	display: block;
	width: 150px;
	height: 150px;
	padding: 3px;
}

#four {
	background-color: #FFFF99;
}

#five {
	background-color: #DBB8FF;
}

#six {
	background-color: #ffb3b8;
}

.ib {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 150px;
	padding: 3px;
}

#seven {
	background-color: #FFFF99;
}

#eight {
	background-color: #DBB8FF;
}

#nine {
	background-color: #ffb3b8;
}
