body {
	font-family: "Georgia", sans-serif;
	background: #b3fffa;
}

#container {
	width: 75%;
	margin: auto;
	padding: 40px 20px 40px 20px;
	background: #ffffff;
}

#header {
	font-style: bold;
	text-align: center;
	text-transform: uppercase;
	color: #ff7373;
}

#subheader {
	text-align: center;
	text-transform: uppercase;
	color: #ff7373;
}

date {
	color: #fff;
	background-color: #ebebeb;
	border-radius: 8px;
	padding: 5px 5px;
	font-size: 1em;
}

#container img {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid gray;
	text-align: center;
}

.blog {
	font-style: italic;
}

a {
	color: #6ef1f1;
	text-decoration: none;
}